
@{ 
    ViewData["Title"] = "ThankYou"; 
}

<h2 class="title">
    <span class="span-col-f">Thank you for your feedback.</span>
    <br />
    <br />
    <span class="span-col-s"> We will review your comments and reach out if we have questions.</span>
</h2>
