@model VetResource.Models.Feedback
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<br />
<br />

<div>
    <h2>Feedback</h2>
    <h3>Have any ideas on how to improve the site?</h3>

    <br />

    <div class="row justify-content-center">
        <div class="col-5">
            <form method="post" enctype="multipart/form-data" asp-action="Create" asp-controller="Feedback" id="submit-form">

                <div class="form-group row">
                    <label asp-for="Name" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="Name" type="text" class="form-control" placeholder="First Name" required>
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Email" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="Email" type="email" class="form-control" placeholder="Email" required>
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Subject" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="Subject" type="text" class="form-control" placeholder="Address" required>
                        <span asp-validation-for="Subject"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="FeedbackText" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-6">
                        <input asp-for="FeedbackText" type="text" class="form-control" placeholder="Text" required>
                        <span asp-validation-for="FeedbackText"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button id="btn-post" type="submit" class="btn btn-outline-success">
                            Submit Feedback
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
